body {
    background-image: url('image/loginPicture.jpg'); 
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating the image */
}


.container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 5px; 
    width: 150%;
    max-width: 600px;
}